@model Class_Relax.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "איפוס סיסמה";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style lang="he" dir="rtl">
    .dr {
        direction: rtl !important;
    }

    #rect {
        position: relative;
        width: 500px;
        background: #fafafa;
        margin-right: 350px;
        border: thin;
        border-style: solid;
        border-color: #78c2ad;
        filter: drop-shadow(2 6 35px #f8f6f6);
        margin-right: 28%;
    }

    .text-f {
        font-size: 15px;
        color: #000000;
        font-weight: 400;
        font-family: 'Segoe UI';
        text-align: right;
    }

    #centerPage {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    #fieldsTo {
        color: black;
        font-weight: 400 !important;
        text-align: center;
        font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }

    #btnp {
       padding-right:25px!important;
       float:right!important;

    }

  
    .titletxt {
        font-size: 18px;
        color: #000000;
        font-weight: 400;
        font-family: 'Segoe UI';
        text-align: center;
    }
    @@media (max-width: 767px) {
        #rect {
            float: right;
            width: 100%;
            height: 100%;
            background: #fafafa;
            margin-right: 350px;
            border: thin;
            border-style: solid;
            filter: drop-shadow(2 6 35px #f8f6f6);
            border-color: #78c2ad;
            padding-right: 0px;
            right: 0;
            margin-right: 0;
            margin: 0;
        }
    }
</style>
<div style="margin-top:5%;" class="dr">
    <div id="rect">
        <div id="centerPage">


            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <p class="titletxt" style="">איפוס סיסמה</p>

                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="form-group">
                    <p class="text-f" style=" padding-right:20px; padding-top:20px; "> כתובת מייל</p>

                    <div class="col-md-7" id="btnp">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "field-validation-valid text-danger", @style = "text-align:right; float:right;" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <p class="text-f" style=" padding-right:20px; padding-top:20px; "> סיסמה</p>

                    <div class="col-md-7" id="btnp">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "field-validation-valid text-danger", @style = "text-align:right; float:right;" })
                    </div>
                </div> <br />
                <div class="form-group">
                    <p class="text-f" style=" padding-right:20px; padding-top:20px; "> אימות סיסמה</p>

                    <div class="col-md-7" id="btnp">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "field-validation-valid text-danger", @style = "text-align:right; float:right;" })
                    </div>
                </div><br /><br />
                <p style="padding-bottom:5px;"></p>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-15" >
                        <input type="submit" class="btn btn-primary"style="width:150px;" value="אישור" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
